<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Interface</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="maxname" style="width:900px;">



    <div id="hname" style="background-color:#7DCEA0;">
        <h1 style="margin-bottom:0;text-align:center;" >用户界面</h1>
    </div>


    <div id="body1" style="background-color:#BFC9CA;height:200px;width:150px;float:left;">


    </div>
    <div id="body2" style="background-color:#D7DBDD;height:200px;width:150px;float:left;">

    </div>
    <div id="body3" style="background-color:#BFC9CA;height:200px;width:150px;float:left;">

    </div>
    <div id="body4" style="background-color:#D7DBDD;height:200px;width:150px;float:left;">
    </div>
    <div id="body5" style="background-color:#BFC9CA;height:200px;width:150px;float:left;">


    </div>
    <div id="body6" style="background-color:#D7DBDD;height:200px;width:150px;float:left;">
    </div>
    <div id="bool" style="background-color:#F0F8FF;clear:both;text-align:center;">

    </div>
</div>





</body>
</html>