<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>优惠券市场</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="maxname" style="width:900px;">
<!--    <div id="head1" style="background-color:#7DCEA0;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/">主页</a>-->
<!--    </div>-->
<!--    <div id="head2" style="background-color:#73C6B6;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/customer">用户管理</a>-->
<!--    </div>-->
<!--    <div id="head3" style="background-color:#76D7C4;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/transaction">交易记录</a>-->
<!--    </div>-->
<!--    <div id="head4" style="background-color:#58D68D;height:20px;width:150px;float:left;text-align:center;">-->
<!--    </div>-->
<!--    <div id="head5" style="background-color:#35c0cd;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/productManagement">商品管理</a>-->
<!--    </div>-->
<!--    <div id="head6" style="background-color:#35cfcd;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/productTypeManagement">商品类型管理</a>-->
<!--    </div>-->
    <div id="hname" style="background-color:#58D68D;">
        <h1 style="margin-bottom:0;text-align:center;" >优惠券市场管理</h1>
    </div>


    <div id="body1" style="background-color:#BFC9CA;height:250px;width:150px;float:left;">
        <b>搜索</b>
        <form name="input" action="/admin/couponMarket" method="get">
            <p>id: <input type="text" name="couponId"/></p>
            <p><input type="submit" value="搜索"/></p>
        </form>
    </div>

    <div id="body2" style="background-color:#D7DBDD;height:250px;width:300px;float:left;">

        <b>新建 / 更新（'-1'为不更改）</b>
        <br/>
        <br/>
        <form action="#" th:action="@{/admin/couponMarket}" th:object="${couponMarket}" method="post">

            <table>
                <tr>
                    <td>券id：</td>
                    <td><input type="text" th:field="*{couponId}" /></td>
                </tr>
                <tr>
                    <td>券名：</td>
                    <td><input type="text" th:field="*{couponName}" /><br/></td>
                </tr>
                <tr>
                    <td>是否上线：</td>
                    <td><input type="text" th:field="*{couponOnsale}" /></td>
                </tr>
                <tr>
                    <td>金额门槛：</td>
                    <td><input type="text" th:field="*{thresholdPrice}" /></td>
                </tr>
                <tr>
                    <td>抵扣金额：</td>
                    <td><input type="text" th:field="*{equivalentPrice}" /></td>
                </tr>
                <tr>
                    <td>数量：</td>
                    <td><input type="text" th:field="*{couponQuantity}" /></td>
                </tr>
                <tr>
                    <td>过期时间：</td>
                    <td>//TODO</td>
<!--                    <td><input type="datetime-local" th:field="*{expireDate}" /></td>-->
                </tr>
                <tr>
                    <td>详细说明：</td>
                    <td><input type="text" th:field="*{couponDescription}"/></td>
                    <td><input type="submit" value="提交" /></td>
                </tr>

            </table>

        </form>
    </div>

    <div id="body3" style="background-color:#BFC9CA;height:250px;width:150px;float:left;">
        <b>删除</b>
        <form action="#" th:action="@{/admin/couponMarketDelete}" th:object="${couponMarket}" method="post">
            <p>id: <input type="text" th:field="*{couponId}" /></p>
            <p><input type="submit" value="删除" /></p>
        </form>
    </div>

    <div id="body4" style="background-color:#D7DBDD;height:250px;width:150px;float:left;">

    </div>
    <div id="body5" style="background-color:#BFC9CA;height:250px;width:150px;float:left;">
    </div>
    <div id="bool" style="background-color:#F0F8FF;clear:both;text-align:center;">
        <b th:text="${host}" >券列表</b>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>券名</th>
                <th>是否上线</th>
                <th>金额门槛</th>
                <th>抵扣金额</th>
                <th>数量</th>
                <th>过期时间</th>
                <th>详细说明</th>

            </tr>
            <tr th:each="CouponMarket : ${list}">
                <td th:text="${CouponMarket.getCouponId()}">1</td>
                <td th:text="${CouponMarket.getCouponName()}">1</td>
                <td th:text="${CouponMarket.isCouponOnsale()}">1</td>
                <td th:text="${CouponMarket.getThresholdPrice()}">1</td>
                <td th:text="${CouponMarket.getEquivalentPrice()}">1</td>
                <td th:text="${CouponMarket.getCouponQuantity()}">1</td>
                <td th:text="${CouponMarket.getExpireDate()}">1</td>
                <td th:text="${CouponMarket.getCouponDescription()}">1</td>

            </tr>
        </table>
    </div>
</div>




</body>
</html>