<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>警告</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="maxname" style="width:900px;">
<!--    <div id="head1" style="background-color:#7DCEA0;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/">主页</a>-->
<!--    </div>-->
<!--    <div id="head2" style="background-color:#73C6B6;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/customer">用户管理</a>-->
<!--    </div>-->
<!--    <div id="head3" style="background-color:#76D7C4;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/transaction">交易记录</a>-->
<!--    </div>-->
<!--    <div id="head4" style="background-color:#58D68D;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/couponMarket">优惠券市场</a>-->
<!--    </div>-->
<!--    <div id="head5" style="background-color:#35c0cd;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/productManagement">商品管理</a>-->
<!--    </div>-->
<!--    <div id="head6" style="background-color:#35cfcd;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/productTypeManagement">商品类型管理</a>-->
<!--    </div>-->
    <div id="hname" style="background-color:#F1948A;">
        <h1 style="margin-bottom:0;text-align:center;">参数错误</h1>
        <h1 style="margin-bottom:0;text-align:center;" th:text="${host}"></h1>
    </div>

</div>


</body>
</html>