<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.banmajio.mapper.StateMapper">


	<select id="dropTable">
		DROP TABLE IF EXISTS STATE CASCADE;
	</select>

	<select id="createTable">
		CREATE TABLE STATE(
		STATE_ID     serial   PRIMARY KEY   NOT NULL,
		NAME         TEXT     NOT NULL);
	</select>


	<select id="getState" resultType="State">
		select * from STATE
	</select>

	<insert id="insertState" parameterType="State">
		insert into
		STATE (name) values(#{name})
	</insert>

</mapper>