<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="maxname" style="width:900px;">
<!--    <div id="head1" style="background-color:#7DCEA0;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/">主页</a>-->
<!--    </div>-->
<!--    <div id="head2" style="background-color:#73C6B6;height:20px;width:150px;float:left;text-align:center;">-->
<!--&lt;!&ndash;        <a href="/customer">用户管理</a>&ndash;&gt;-->
<!--    </div>-->
<!--    <div id="head3" style="background-color:#76D7C4;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/transaction">交易记录</a>-->
<!--    </div>-->
<!--    <div id="head4" style="background-color:#58D68D;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/couponMarket">优惠券市场</a>-->
<!--    </div>-->
<!--    <div id="head5" style="background-color:#35c0cd;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/productManagement">商品管理</a>-->
<!--    </div>-->
<!--    <div id="head6" style="background-color:#35cfcd;height:20px;width:150px;float:left;text-align:center;">-->
<!--        <a href="/productTypeManagement">商品类型管理</a>-->
<!--    </div>-->
    <div id="hname" style="background-color:#73C6B6;">
        <h1 style="margin-bottom:0;text-align:center;" >用户管理</h1>
    </div>


    <div id="body1" style="background-color:#BFC9CA;height:200px;width:150px;float:left;">
        <b>搜索</b>
        <form name="input" action="/customer/user" method="get">
            <p>id: <input type="text" name="id"/></p>
            <p><input type="submit" value="搜索"/></p>
        </form>
    </div>
    <div id="body2" style="background-color:#D7DBDD;height:200px;width:50px;float:left;">
        <b>新建 /</b>
            <p>
                <br/>
                id:  <br/>
                姓名:<br/>
                电话: <br/>
                城市: <br/>
                地址: <br/>
                备注:
            </p>

    </div>
    <div id="body2.1" style="background-color:#D7DBDD;height:200px;width:250px;float:left;">
        <b>更新(留空则不更改)</b>

        <form action="#" th:action="@{/customer/user}" th:object="${user}" method="post">
            <p>
                <br/>
                <input type="text" th:field="*{id}" /><br/>
                <input type="text" th:field="*{userName}" /><br/>
                <input type="text" th:field="${user.city.phoneNumber}" /><br/>
                <input type="text" th:field="${user.city.cityName}" /><br/>
                <input type="text" th:field="${user.city.address}" /><br/>
                <input type="text" th:field="${user.city.description}" />

                <input type="submit" value="提交" />
            </p>

        </form>
    </div>

    <div id="body4" style="background-color:#BFC9CA;height:200px;width:150px;float:left;">
        <b>删除</b>
        <form action="#" th:action="@{/customer/userDelete}" th:object="${user}" method="post">
            <p>id: <input type="text" th:field="*{id}" /></p>
            <p><input type="submit" value="删除" /></p>
        </form>
    </div>
    <div id="body5" style="background-color:#D7DBDD;height:200px;width:150px;float:left;">
    </div>
    <div id="body6" style="background-color:#BFC9CA;height:200px;width:150px;float:left;">
    </div>


    <div id="bool" style="background-color:#F0F8FF;clear:both;text-align:center;">
        <b th:text="${host}" >user list</b>
        <table border="1">
            <tr>
                <th>用户id</th>
                <th>姓名</th>
                <th>电话</th>
                <th>城市</th>
                <th>地址</th>
                <th>详细信息</th>
                <th>资产</th>
            </tr>
            <tr th:each="User : ${List}">
                <td th:text="${User.getId()}">1</td>
                <td th:text="${User.getUserName()}">名</td>
                <td th:text="${User.getCity().getPhoneNumber()}">电话</td>
                <td th:text="${User.getCity().getCityName()}">城</td>
                <td th:text="${User.getCity().getAddress()}">地址</td>
                <td th:text="${User.getCity().getDescription()}">注释</td>
                <td th:text="${User.getWallet().getAsset()}">资产</td>


            </tr>
        </table>
    </div>
</div>




</body>
</html>